.git
.github
.venv
.vscode
.ruff_cache
.pytest_cache
__pycache__
*.pyc

credentials/*.json
tmp/audio/
tmp/thumbnails/
tmp/videos/
data/
fonts/*.ttf

tests/
specs/
*.md
!README.md
Makefile
sync_config.jsonc
